h2 {
  font-weight: 100 bold;
}

.textoProductos {
  background-color: #afaeae;
  font-weight: bold;
}

.imgProducts {
  size-adjust: auto;
}

#botonVolverArriba {
  width: min-content;
  padding-bottom: 5px;
}

.card {
  max-width: 250px;
  max-height: 250px;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 500ms ease;
}

.card:hover,
.card:focus-within {
  transform: scale(1.05);
}

/*Verificacion sobre el dispositivo utilizado para ver si soporta hoover*/

@media (hover) {
  .card {
    transition: transform 500ms ease;
  }
}
